p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

/* ----Header----- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.conteiner {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 94px 15px 0px;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-nav {
}

.header > .conteiner {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-right: 93px;
}

.logo:focus,
.logo:hover {
  text-decoration: underline;
  color: #2196f3;
}

.logo-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.headnav-list {
  display: flex;
  list-style: none;
}

.headnav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
  list-style: none;
  text-decoration: none;
}

.headnav-items:not(:last-child) {
  margin-right: 50px;
}

.headnav-item:hover,
.headnav-item:focus {
  color: #2196f3;
}

.contacts {
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  list-style-type: none;
  text-decoration: none;
  display: flex;
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: #2196f3;
}

.mail-tel {
  margin-left: auto;
}

.tel-header {
  margin-left: 50px;
}

.unique {
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-left: 252px;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 280px;
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #2196f3;
  cursor: pointer;
  padding: 10px 32px;
  display: block;
  margin: 30px auto 0px;
}

.button-hero:hover,
.button-hero:focus {
  opacity: 0.9;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #2196f3;
}

.plus {
  text-decoration: none;
  padding: 94px 15px 0px;
}

.plus-title {
  visibility: hidden;
}

.plus-items {
  display: flex;
}

.plus-list {
  list-style-type: none;
  max-width: 270px;
  gap: 30px;
  flex-grow: 1;
}

.plus-text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.plus-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
}

.conteiner {
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  flex-grow: 30;
}

.about-foto {
}

.team > .conteiner {
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.specialist {
  max-width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.specialist:not(:last-child) {
  margin-right: 30px;
}

.specialist-foto {
  max-width: 270px;
}

.specialist-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.specialist-job {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}

.footer > .conteiner {
  padding-top: 60px;
}

.logo {
  text-decoration: none;
}

.logo-web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.logo-footer:hover,
.logo-footer:focus {
  color: #2196f3;
  text-decoration: underline;
}

.address {
  font-style: normal;
  margin-bottom: 9px;
}

.footer-list {
  list-style-type: none;
  text-decoration: none;
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.location:hover,
.location:focus {
  color: #2196f3;
}

.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.filter-title {
  visibility: hidden;
}

.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  margin-right: 8px;
  padding: 6px 22px;
}

.filter-item:hover,
.filter-item:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.filter-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  visibility: hidden;
}

.projects-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.project {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.project:nth-child(2),
.project:nth-child(5),
.project:nth-child(8) {
  margin-right: 30px;
  margin-left: 30px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-left: 24px;
  color: #757575;
}

.portfolio {
  padding-bottom: 60px;
}
